<h1><%= @user.username %></h1>

<ul>
<% @user.comments_from_another_user.each do |comment| %>
  <li><%= comment.body %></li>
<% end %>
</ul>

<form action="<%= user_comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
  <input type="hidden" name="user_comment[commented_user_id]" value=" <%= @user.id %>">

  <label for="comment">Comment on User</label>
  <textarea name="user_comment[body]" id="comment" rows="8" cols="40"></textarea>

  <input type="submit" value="Add Comment">

</form>
